# *

!.config/
!.config/doom/
!.config/doom/*

.git
*-
*[cC]ache*
*archived*
*final*
.*hist*
./.oh-my-zsh

/git
/org
/src
/.local
/.aliases
/.cache
/.config/Microsoft
/.config/Slack
/.fdignore
/.functions
/.profile
/.ripgreprc
/.tmux.conf
/.zprofile
/.zshenv
/.zshrc
