# manual backups
*-

# automatic backups
*~

# cache
*[cC]ache*

# misc
*archived*
*final*
.*hist*

# scripts
!/bin/,
!/bin/rx

# all root folders
/*/
/.*/

# yadm alt. files
!/*\#\#*
!/.config/
!/.config/doom/*

# misplaced cache
/.config/Microsoft/
/.config/Slack/

# symlinks produced by $ yadm alt
/.aliases
/.fdignore
/.functions
/.oh-my-zsh
/.profile
/.ripgreprc
/.tmux.conf
/.zprofile
/.zshenv
/.zshrc
/git/
/org/
/src/

## PROTECTED FILES ##
/.gitignore
/.gitconfig
/.config/gh/
