{#-*- mode: jinja2 -*-#}
# .zshrc -*- mode: sh -*-
# shellcheck disable=
{%- for item in ['1091', '2034'] -%}
SC{{ item }}
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor %}

{% for key, value in dict(ZSH='$HOME/.oh-my-zsh', ZSH_THEME='simple').items() -%}
{{ key }}={{ value }}
{%- if not loop.last %}
{% endif -%}
{%- endfor %}

{% for key, value in dict(yadm='${HOME}/.config/yadm', run='${XDG_RUNTIME_DIR:-/run/user/${EUID:-$(id -u)}}', config='${XDG_CONFIG_HOME:-${HOME}/.config}', fonts='${HOME}/.local/share/fonts', autorun='${HOME}/.config/autorun', desktop='${HOME}/.local/share/applications', apps='${HOME}/.local/share/applications', zsh='$ZSH').items() -%}
hash -d {{ key }}='{{ value }}'
{% endfor %}

plugins=(
{%- for value in ['zsh-autosuggestions', 'direnv', 'fzf', 'tmux'] -%}
{{ value }}
{%- if not loop.last %} {% endif -%}
{%- endfor -%}
)

path=(
{%- for value in ['$HOME/bin', '$HOME/.pyenv/bin', '/usr/bin', '/usr/local/bin', '/usr/local/sbin', '/usr/sbin', '$HOME/.cargo/bin', '$HOME/.local/bin', '$HOME/go/bin', '$HOME/opt/doom-emacsdir/bin'] -%}
{{ value }}
{%- if not loop.last %} {% endif -%}
{%- endfor -%}
)

{#- source ~/.pyenv/bin/activate -#}
. ${ZSH:-$HOME/src/ohmyzsh}/oh-my-zsh.sh
. ~/.functions
. ~/.aliases
. <(cat ~/.sh.d/*.zsh)

### END ###
