{#-*- mode: jinja2 -*-#}

set -g @pane-stem  "#{pane_current_path}#[fg=blue] #{@tmp}"
set -g @RC         "(#[fg=#{@color}]#{@rc}#[fg=off])"
set -g @buffer     "#[fg=#{@color}]#{@shell-buffer}#[fg=off]"

set -g @active     "#{E:@pane-stem}#{E:@buffer}"
set -g @inactive   "#{E:@pane-stem}#[fg=blue]"
set -g @inactive   ''

set -g @red   colour9
set -g @green colour10

set-option -g pane-border-status top
set-option -g pane-border-format @inactive
set-option -g synchronize-panes  off

set-hook -g after-split-window 'select-layout tiled'
set-hook -g after-kill-pane    'select-layout tiled'
set-hook -g pane-focus-out     'set-option -p pane-border-format "#{E:@inactive}"'
set-hook -g pane-focus-in      'set-option -p pane-border-format "#{E:@active}"'

set -g @capture 'capture-pane -C -p -S -'
set -s command-alias[0] cap='#{E:@capture}'
set -s command-alias[1] capp='#{E:@capture} -t"{last}"'
set -s command-alias[2] capl='#{E:@capture} -t"{left}"'
set -s command-alias[3] capr='#{E:@capture} -t"{right}"'
set -s command-alias[4] sync='set synchronize-panes'
set -s command-alias[5] pop='display-popup -E'
set -s command-alias[5] pop='display-popup -E'

set -g @fzf 'fzf --ansi'

set -g prefix C-Space

unbind C-b
unbind -n C-t

unbind -T prefix t
bind -n C-z resize-pane -Z

unbind -n M-y
unbind -n M-t
unbind -n 'M-`'
bind -n 'M-`' display-popup -E

set-option -gw xterm-keys on

bind C-s setw synchronize-panes

bind -n M-Tab select-pane -t'{previous}'
bind -n M-S-Tab select-pane -t'{next}'

bind -n M-1 select-pane -t1
bind -n M-2 select-pane -t2
bind -n M-3 select-pane -t3
bind -n M-4 select-pane -t4

bind -n M-\} next-layout
bind -n M-\{ previous-layout

bind -n M-\] next-window
bind -n M-\[ previous-window

bind -n C-\\ split-window -c '#{pane_current_path}' \; select-layout tiled


{%- if tmux.theme is defined -%}
set -g @tmux_power_theme '{{ tmux.theme }}'
{%- endif -%}

{%- for item in tmux.plugins %}
set -g @plugin "{{ item }}"
{% endfor -%}

set -g @fzf-url-bind          'Tab'
set -g @fzf-url-open          'qutebrowser'
set -g @fzf-url-history-limit '2000'
set -g @fzf-url-fzf-options   '-w 50% -h 50% --multi -0 --no-preview --no-border'

{# run "sh -c 'test -d ~/.local/share/tpm || (mkdir -p ~/.local/share/tpm; env -C ~/.local/share/ git clone https://github.com/tmux-plugins/tpm)'" #}
run '/bin/bash $HOME/.local/share/tpm/tpm'

unbind Space
