[Desktop Entry]
Name=Move container to workspace 1
GenericName=Sway WM
Icon=sway
Terminal=false
Type=Application
StartupNotify=true
Exec=/usr/bin/env swaymsg move to workspace 1
