[Desktop Entry]
Name=tiled
GenericName=Set layout
Exec=swaymsg layout tiled
Icon=org.gnome.Terminal
Type=Application
Terminal=false
StartupWMClass=Sway
