[Desktop Entry]
Name=Reload config
GenericName=tmux
Exec=/usr/bin/env PATH=/usr/bin:/usr/local/bin sh -c 'tmux source-file ~/.tmux.conf'
# Icon=tmux
Icon=alacritty
# Icon=org.gnome.Terminal
Type=Application
Terminal=false
StartupWMClass=tmux
