[Desktop Entry]
Name=Emacs
GenericName=DOOM
Icon=emacs
Terminal=false
Type=Application
StartupNotify=true
Exec=/usr/bin/env EMACS=/usr/local/bin/emacs-29.1 EMACSDIR=/home/geir/opt/doom-emacsdir/ $HOME/opt/doom-emacs/bin/doom run
